@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  
}
h1,h2,h3,h4,h5,h6{
  font-family: "Darker Grotesque", serif;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .div-container {
    @apply container px-10 md:px-10 mx-auto
  }

  .navbar ul li {
    @apply transition-all duration-200 ease-in-out text-black cursor-pointer
  }

  .service-box {
    --tw-bg-opacity: 1;
    cursor: pointer;
    transition-property: all;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s;
  }

  .service-title {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 700;
  }

  .gmm-rainbow-text{
    @apply bg-gradient-to-r from-[#FFD700] to-[#FFBF00] via-[#FFAA00] text-transparent bg-clip-text
  }

  @media (min-width: 768px) {
    .service-title {
      font-size: 32px;
      letter-spacing: -1px;
    }
  }
}